
body{
    margin: 10px;
    padding:10px;
}

/*HOME*/


/* .block1, .block2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;

} */

.div-text{
    width: 400px;
}

.div-coinbase-img{
height: 150px;
width: 200px;
}

#coinbase-log{
    width: 80px;
}

#coinbase-img{
width: 200px;
height: 200px;
}
.btn-primary {
    border-style: none;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    font-weight: 500;
    padding: 10px;
    background-color: #007bff;
    color: white;
  }
  .btn-primary:hover {
    background-color: #007bff;
    transform: scale(0.9);

  }

  .btnDelete{
    border-style: none;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    padding: 10px;
    background-color:#ef5350;
    color: white;

  }



/*WATCH LIST*/
.body-watch-list{
    height: 1200px;
}

.section-watch-list{
    min-width: 100%;
    width: 100%;
}

.container1{
    max-width:400px;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

/* .container1 .card-header{
    background-color: #fff;
    padding: 10px;
} */

.div-coin-list{
    /* border: 1px solid blue; */
    height: 300px;
    width: 450px;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container1 .card-content ul{
    list-style:none;

    /* border: 1px solid red;  */

}

.container1 .card-content ul li{
    cursor:pointer;
    background-color: #fefefe;
    /* padding: 2px 1px; */
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.container1 .card-content ul li:not(:last-child){
    margin-bottom: 10px;
}

.container1 .card-content ul li .img-content {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
}

.container1 .card-content ul li .img-content img{
    width: 100%;
    padding: 5px;
        
}

#img-wathlist{
width: 30px;
}

.coin-name{
    padding: 10px;
}

.div-coin-name{
    height: 25%;
    width: 100px;
}

.coin-name{
    /* width: 100px; */
}

.btnAddToWatchList{
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    margin-left: 40px;
    font-size: 12px;
    color: white;
}




/*HOME*/

#coibase-log{
    width: 60px;
    border-radius: 100%;
}




/*CONVERTER*/


body{
    font-family: sans-serif;
    /* background-color: darkblue;*/
} 

.main-section {
    text-align: center;
    margin: 9% auto 0;
    width: 60%;
    padding: 29px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.main-section h2 {
    text-transform: uppercase;
    color: #736c6c;
}
.container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.form-side {
    width: 50%;
    margin-top: 2%;
}
.form-side form#form-search {
    display: flex;
    flex-direction: column;
}
.image-side {
    background-image: url(./images/cripotoImage.png);
    height: 400px;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-side{
    width: 100%;
}
.form-side #form-search select {
    font-size: inherit;
    margin: 8px 0px 7px;
    background-color: aliceblue;
    padding: 8px 5px;
    cursor: pointer;
    border-radius: 7px;
    border: solid 1px #ada2a2;
    color: #736d6d;
}
input[type="submit"] {
    margin: 9px auto 0px;
    width: 40%;
    color: cadetblue;
    background-color: #007bff;
    border-radius: 4px;
    font-weight: 500;
    padding: 7px 3px;
    color: #FFF;
    height: 37px;
    cursor: pointer;
   
}
input[type="submit"]:hover {
    color: white;
    background-color: #007bff;
    border: solid 2px #007bff
}
.error {
    color: red;
}
.display-info p span{
    font-weight: 200;
}
.display-info .main-price{
    font-size: 28px;
    margin-bottom: 2px;
}


/*SING-UP*/
